:host {
  justify-content: space-between;
  padding: .5rem;
  margin: .5rem;
  border: 1px solid #fefefe;
  background: #fafafa;
  border-radius: .2rem;
  cursor: pointer;
  outline-color: #006d5c;
  user-select: none;
  width: 12rem;
  max-width: 12rem;
  display: inline-flex;
}

.label {
  margin-right: 1rem;
}

.font--bold {
  font-weight: 500;
}